.mobile__links__container {
  position: fixed;
  top: 12vh;
  left: 0;
  right: 0;
  z-index: 10;
}

.mobile__links-content {
  display: flex;
  flex-direction: column;
  background: #8aabca;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100vw;
  height: 50vh;
}

.mobile__links-content .link {
  transition: all 300ms linear 0s;
  font-size: 1rem;
  text-decoration: none;
  padding: 1rem 0;
  color: #273755;
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
  transition: color 1s ease, padding 1s ease, background-color 1s ease;
  cursor: pointer;
}

.mobile__links-content .link:hover {
  padding-left: 15px;
  background: rgba(204, 228, 250, 0.2);
}

.mobile__links-content .link:first-child {
  margin-top: 30px;
}

.mobile__links-content .link:last-child {
  margin-bottom: 30px;
}
